main{
  min-height: 80vh;
}

/* .ml-auto{
  background-color: #A51010;
} */

header{
  background-color: crimson;
  background-color: #A51010;
}

h3{
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

#root > header > nav{
  background-color: crimson;
}